@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,body{
  font-family: "Poppins";

}


.post{
max-width: 500px;
margin-left:auto;
margin-right:auto;
margin-top:50px;
border-radius: 5px;

/* border:2px solid #5b9aa0 !important; */



}

.post-profile{
border-radius: 50%;
width:50px;
height: 50px;
margin-right:10px;
}

.post-footer{
  display:flex;
  justify-content:left;
  align-items: center;
  margin-top:30px

}

.createpost-form{
  max-width: 500px;
  margin: auto;
  margin-top: 10%;
  
}
