@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,body{
  font-family: "Poppins";
}


.post{
max-width: 500px;
margin-left:auto;
margin-right:auto;
margin-top:50px;

}