@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,body{
  font-family: "Poppins";

}

.navbar{
padding-left :20px !important;
padding-right :20px !important;
} 
.post{
max-width: 500px;
margin-left:auto;
margin-right:auto;
margin-top:50px;
border-radius: 5px;
padding-left: 20px;
padding-right: 20px;
border:none;

}



.post-profile{
border-radius: 50%;
width:50px;
height: 50px;
margin-right:10px;
}

.post-footer{
  display:flex;
  justify-content:left;
  align-items: center;
  margin-top:30px

}

.createpost-form{
  width: 500px;
  margin: auto;
  margin-top: 10%;

  
}


@media only screen and (max-width:600px){
  .post{
    width:100%;
    margin:auto;
    padding-top:50px;
  }

  .createpost-form{
    width: 80% !important;
    padding-top:25px;
    margin:auto;


  }
}